
.error_page{
    padding: 100px 0;
    background-color: #EDE5D4;
    border-bottom: 1px solid rgba(57, 49, 45, 0.12);
}
.error_content{
    max-width: 600px;
}

/* .error_content .button{
    width: 100%;
    display: block;
} */