.post_image {
    border-radius: 25px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
}

.post_thumbnail {
    object-fit: cover;
    max-height: 400px;
    min-height: 350px;
    transition: all 0.5s ease;
}

.post_thumbnail:hover {
    transform: scale(1.2);
}

.post_tag {
    margin-bottom: 10px;
}


.post_title {
    display: block;
    margin-bottom: 10px;
    color: #39312d;
    transition: all 0.3s ease;
}

.post_title:hover {
    color: #A63A2E;
}

.post_title h2 {
    font-size: 24px;
    line-height: 1.375em;
    font-weight: 600;
    letter-spacing: -0.5px;

}


@media only screen and (max-width:991px) {
    .post_thumbnail {
        min-height: 250px;
    }
    .post_item {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:767px) {
    .post_thumbnail {
        min-height: 300px;
    }
}

@media only screen and (max-width:575px) {
    

    .post_item:last-child {
        margin-bottom: 0;
    }

    .post_image {
        border-radius: 10px;
    }

    .post_thumbnail {
        min-height: 250px;
    }
}

@media only screen and (max-width:375px) {
    p {
        font-size: 16px;
        line-height: 25px;
    }
    .post_thumbnail {
        min-height: 170px;
    }
    .post_title h2 {
        font-size: 20px;
    }
    .post_item {
        margin-bottom: 10px;
    }
}